@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android' ;
    src: url(fontes/idroid.otf) format(opentype);
    font-weight: normal
}

:root{--cor0:#c5ebd6;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;

    --fonte-padrao:Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque:'Bebas Neue', sans-serif;
    --fonte-android: 'Android', 'cursive';}


*{
    margin: 0px;
    padding: 0px;
}

header{
    background-image: linear-gradient(to bottom, #2fa866, #1a5c37, #063d1e  );
    text-align: center;
    font-family: var(--fonte-destaque);
    height: 150px;
    color: white;
    
}

header > h1{
    font-size: 3em;
    padding-bottom: 20px;
    padding-top: 20px;
    font-weight: normal;
}

header > p{
    font-size: 1.2em;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.404);
    margin: auto;
    max-width: 600px;
}

nav{
    background-color: var(--cor5);
    padding: 10px;
    font-family: var(--fonte-padrao);
}

nav > a{
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.1em;
   font-weight: bold;
   transition: 1s;
}

nav > a:hover{
   background-color: var(--cor2);
   color: var(--cor5);

}

body{
    background-color: var(--cor0);
    min-width: 300px;
    
}

main{
    padding-top: 10px;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: auto;
    min-width: 320px;
    max-width: 1000px;
    font-size: 1em;
    padding: 20px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.411);
}

main > p{
    line-height: 2em;
    text-align: justify;
    font-family: var(--fonte-padrao);
    text-indent: 2em;
    margin: 10px;
    font-size: 1.1em;
   
}

main > h1{
    font-family: var(--fonte-android);
    color: var(--cor5);
    font-size: 1.8em;
    font-weight: normal;
    text-indent: 28px;
}

main > h2{
    font-family: var(--fonte-android);
    color: var(--cor5);
    background-image: linear-gradient(to right, #3ddc84,transparent);
    text-indent: 8px;
    margin: 20px;
}

main img{
    width: 100%;
}

main img.pequena{
    width: 50%;
    margin: auto;
    display: block;
}

strong{
    color: var(--cor4);
    font-weight: bold;
}

main  a{
    color: var(--cor4);
    padding: 5px;
    font-weight: bold;
    background-color: var(--cor1);
    border-radius: 5px;
    text-decoration: none;
}

main a:hover{
    background-color: var(--cor1);
    text-decoration: underline;
}

a.externo::after{
    content: '\1F517'
}

div.video{
    background-color: var(--cor5);
    margin:0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}


div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside{
    background-color: var(--cor1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 10px;
    padding: 10px;
    font-family: var(--fonte-padrao);
    
}

aside > h3{
    background-color: var(--cor4);
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    color: white;
}

aside > p{
    line-height: 2em;
    text-align: justify;
    font-family: var(--fonte-padrao);
    text-indent: 2em;
    margin: 10px;
    font-size: 1.1em;
}

aside > ul{
    list-style-type: "\2714\00A0";
    list-style-position:inside ;
    columns: 2;
}

footer{
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    background-color: var(--cor5);
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    font-weight: bold;
}